@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Défini les variables
$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px
);
$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$large-font-size: 24px;
$small-font-size: 18px;
$border-raduis: 25px;

// mixin media queries
@mixin for-size($breakpoint){
    @if map-has-key($breakpoints, $breakpoint){
    @media (max-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
    }@else{
        @warn "Unknown breakpoint: #{$breakpoint}."
    }
};

@mixin display($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

*, *::before, *::after {
    font-family: "montserrat";
}